:root
{
    --bg-color: rgb(242, 255, 254);
    --black-color:#000;
    --orange:#26A69A;
    --white:#fff;
    --nav:#26A69A;
    --navy:#ffffff;
    --typewriterspeed: 3s;
   --typewriterchararcters: 26;
}
#modeicon
{
   
}
#bars , #times
{
    display: none;
}
.bars
{
    color: #ffffff;
    font-size: 50px;
    text-align: right;
    margin-left: auto;
    visibility: hidden;
   
    
    
}
html {
  scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.6s ease, color 1s ease;
}
.phones img
{
    filter: brightness(90%);
    
    
   
}

.top
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    overflow-x: hidden;
    background: var(--bg-color);
   
    
   
    
}
.me{
    animation: showUp 2s ease calc(var(--typewriterspeed) + 1.6s) forwards;
    transform: translateX(900px);
}
.sub_text
{
    color: var(--black-color);
    opacity: 0;
    transform: translateY(3rem);
        animation: fadeInUp 2s ease calc(var(--typewriterspeed) + 1.2s)  forwards;
        
}
.main_text
{
    font-size: 30px;
    width: 15em;
    font-weight: 300;
    position: relative;
    width: max-content;
    color: var(--black-color);
    white-space: nowrap;
    border-right: 2px solid var(--black-color);
    overflow: hidden;
    transform: translateY(-50%);
    animation: typewriter var(--typewriterspeed) steps(40) 1s 1 normal both, blink 1000ms steps(40) infinite normal ;
}

/************************Animations************************/
@keyframes typewriter {
    from{
        width: 0;
    }
    to
    {
        width: 16em;
    }
}
@keyframes fadeInUp {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes blink {
   from{
       border-right-color: var(--black-color);
   }
   to
   {
    border-right-color: transparent;
   }

}
@keyframes showUp {
    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}
/************************Animations************************/
section.mainsection
{
   display: flex;
}
section.orange
{
    width: 100%;
    height: fit-content;
   
    
    overflow: hidden;
    background: linear-gradient(101deg, #550527, #2a9d8f, #f2fffe);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    -o-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
    
}
@-webkit-keyframes AnimationName {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@keyframes AnimationName {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}

nav
{
   
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: fit-content;
    background-color: var(--nav) ;
    color: var(--bg-color);
    display: flex;
    
   
    width: 100%;
    
    
    
   
    
}
nav ul{

    list-style-type: none;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    
}
li.resume
{
    background-color:var(--orange);
    border-radius: 7px;

}

nav ul li
{
  padding: 10px;

}
nav ul li:hover
{
    background-color: rgba(225, 225, 225, 0.3);
    border-radius: 7px;
    cursor: pointer;
    
}

nav ul li a{
   
    text-decoration: none;
    color:white;
    font-size: 20px;
   
}

/********************************************New Nav*******************************************/



navside
{
   
    justify-content: space-between;
    padding: 20px;
    width: fit-content;
    height: 100vh;
    background-color: var(--nav) ;
    color: var(--bg-color);
    display: flex;
    position: relative;
    z-index: 10000;
    border-bottom-right-radius: 20px;
   
    border-top-right-radius: 20px;
    
   
    
    
    
   
    
}
navside ul{

    list-style-type: none;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    
}
li.resume
{
    background-color:var(--orange);
    border-radius: 7px;

}

navside ul li
{
  padding: 10px;

}
navside ul li:hover
{
    background-color: rgba(225, 225, 225, 0.3);
    border-radius: 7px;
    cursor: pointer;
    
}

navside ul li a{
   
    text-decoration: none;
    color:white;
    font-size: 20px;
   
}




.navigation
{
    width: 70px;
    height:380px;
   
    border-bottom-right-radius: 20px;
   
    border-top-right-radius: 20px;
    
    position: relative;
    background: #550527;
    z-index: 9;
    padding: 20px;
    box-shadow: 10px 0 0 #2A9D8F;
    font-family: 'Raleway', sans-serif;
    border-left: 10px solid #550527;
    overflow-x: hidden;
    transition: width 0.5s;
    
}
.navigation:hover
{
    width: 300px;
    
}
.navigation ul
{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li
{
    list-style: none;
    width: 100%;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.one
{
  font-size: 30px; 
  color: #ffffff;  
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 700;
  text-shadow: #2A9D8F 2px 2px 2px;
}
.welcome
{
    padding: 30px;
}
.navigation ul li.active
{
    background: #2A9D8F;
    
}
.navigation ul li a
{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;


}








.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.navigation ul li a .icon ion-icon
{
    position: relative;
    font-size: 1.5em;
    z-index: 1;

}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 50px;
    white-space: nowrap;
}
.bar
{
    width: 100%;
    box-shadow: 7px 7px #2A9D8F;
    align-items: center;
    height: fit-content;
    background: #550527;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;

    
   
}










/********************************************New Nav*******************************************/


logo
{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.title_
{
    color: var(--navy);
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Saira Condensed', sans-serif;
}
.title_sub
{
    color: var(--white);
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Saira Condensed', sans-serif;
}
logo
{
    color: white;
    cursor: pointer;
}
.phones
{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    height: max-content;
    display: inline-flex;
    
    flex-grow: 1;
    flex-wrap: wrap;
  /*  transform: translateX(1500px);
    animation: showUp 2s ease calc(var(--typewriterspeed) + 1.4s) forwards;*/
    
}
.webselect
{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-right: 50px;
    height: max-content;
    display: inline-flex;
    z-index: -100;
    
    

}
.selectimg
{
    display: block;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2fffe;
    padding: 10px;
    margin-left: 20px;
    border-radius: 7px;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 5px;
}
.selectimg:hover
{
    border: #14213D 4px solid;
    transition: 0.1s;
}
.selectimg#twale
{
    border: #14213D 4px solid;
}
.selectdiv
{
    width: fit-content;
    height: fit-content;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
    
}
.selectdiv a
{
font-size: 20px;
color: var(--white);

margin-left: 5px;
text-decoration: underline 3px #1D3557;
}
.selectdiv a:hover
{
    text-decoration: underline 1px #1D3557;
    transition: 0.5s;
    color: #1D3557;  
}
.pattern
{
    width: 100%;
    background-size: contain;
    height: 70px;
    margin-top: 0;
   
    background-image: url(la.jpg);
    background-repeat: repeat-x;
    

}
.proj_text
{
    text-align: center;
    font-size: 50px;
    color: var(--black-color);
    margin-top: 10px;
    font-family: 'Chakra Petch', sans-serif;
    border: 2px solid  white;
}
.footer
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    background-color: var(--nav);
}
#mail
{
    font-size: 40px;
    padding: 5px;
    margin-bottom: 5px;
}
#phone
{
    font-size: 40px;
    padding: 5px;
    margin-bottom: 5px;
}
#link
{
    font-size: 40px;
    padding: 5px;
    margin-bottom: 5px;
}
#git
{
    font-size: 40px;
    padding: 5px;
    margin-bottom: 5px;
}
.link
{
    text-decoration: none;
    color:var(--white);
}
.link:hover
{
    text-decoration: underline solid 2px var(--orange);
   color: var(--orange);
    transition: 0.5s ease;
}

.conspan
{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}
.conspan:hover
{
    color:var(--orange) ;
}
.conspan p:hover{
    text-decoration: underline solid 2px var(--orange);
    color: var(--orange);
    transition: 0.5s ease;
}
.final
{
    text-align: center;
    cursor: pointer;
}
#indigo:hover
{
    color: var(--orange);
}
.middle_btn
{
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
}
.get_yours_now
{
    background-color: rgb(255, 255, 255);
    padding:10px;
    margin: 5px;
    border: 2px solid #26A69A ;
    border-radius: 7px;
    color: #14213D;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}
.get_yours_now:hover
{
    background-color: rgb(180, 180, 180);
    color: #ffffff;
}
.contact
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.form_wrapper
{
    width: 300px;
    height: fit-content;
    display:flex;
    flex-direction: column;

}
input
{
    margin-top: 10px;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid blue;
    padding: 10px;
}

textarea
{
    padding: 6px;
    height: 150px;
    width: 250px;
    border-radius: 7px;
}
.form_wrapper p
{
    color: white;
    margin-top: 5px;
    font-size: 25px;
}
.submit
{
    
    padding:5px ;
    width: 75px;
    border-radius: 4px;
    border: blue 1px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #1D3557;
}
.submit:hover
{
    background-color: #ffffff;
    color: black;
}


/************************MEDIA QUERIES************************/

@media screen and (max-width: 768px)
{

    #bars
    {
        font-size: 34px;
        display: block;
        color: #ffffff;
    }
    #times
    {
        font-size: 34px;
        display: none;
        color: #ffffff;
    }
    .top
    {

        flex-direction: column-reverse;
     
    }
  
    .me
    {
        height: 400px;
        margin-bottom: 30px;
        top: 0;
        
    }
    .main_text
    {
        font-size: 21px;
        width: 100px;
       
    }
    

    nav
    {
       
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        height: fit-content;
        background-color: var(--nav) ;
        color: var(--bg-color);
        display: flex;
        
       
        width: 100%;
        
        
        
       
        
    }
    nav ul{
    
        list-style-type: none;
        margin-left: auto;
        padding: 10px;
        display: none;
        flex-direction: column;
        position: absolute;
        flex-wrap: wrap;
        z-index: 100;
        gap: 30px;
        width: 50%;

        right: 0;
        
        height:0%;
        background: var(--nav);
        
        top: 70px;
        border-radius: 0px 10px 0px ;
        
    }
    li.resume
    {
        background-color:var(--orange);
        border-radius: 7px;
        width: fit-content;
        margin-left: auto;
        margin-right: 10px;
        border-bottom: none;
        
    
    }
    
    nav ul li
    {
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;
      border-bottom: #fff  solid;
      
    
    }
    nav ul li:hover
    {
        background-color: rgba(225, 225, 225, 0.3);
        border-radius: 7px;
        cursor: pointer;
        
    }
    
    nav ul li a{
       
        text-decoration: none;
        color:white;
        font-size: 20px;
        
       
    }
    logo
    {
        font-family: 'Lobster', cursive;
        font-size: 30px;
    }
    
    .phones
    {
        
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        height: max-content;
      display: inline-flex;
    
      flex-grow: 1;
      flex-wrap: wrap;
    }

    .selectimg
    {
        display: block;
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        
        align-items: center;
        background: #fff;
        padding: 10px;
        margin-left: 20px;
        border-radius: 7px;
        cursor: pointer;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .webselect
    {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        height: max-content;
      display: inline-flex;
      flex-grow: 1;
      flex-wrap: wrap;
        
    
    }
   

    #mac
{
    width: 180px;
    height: 180px;
}
#ipad
{
    width: 180px;
    height: 230.2941176471px;

}
#iphone
{
    width: 150px;
    height: 283.5294117647px;
}

.contact
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.form_wrapper
{
    width:100%;
    height: fit-content;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}


#mail
{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 5px;
}
#phone
{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 5px;
}
#link
{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 5px;
}
#git
{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 5px;
}



.webselect
{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-right: 50px;
    height: max-content;
    display: inline-flex;
    
    

}
.selectimg
{
    display: block;
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin-left: 20px;
    border-radius: 7px;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 5px;
}










.navigation ul li.active a::before
{
  
    background: rgba(225, 225, 225, 0.0);
    
}
.navigation ul li.active a::after
{
    
   background:rgba(225, 225, 225, 0.0);
  
}


    .bars
    {
        visibility: visible;
    }
    .navigation
{
    width: 1px;
    height:380px;
   
    border-bottom-right-radius: 20px;
   
    border-top-right-radius: 20px;
    
    position: absolute;
    background: rgba(10, 10, 10, 0.1);
    z-index: 9;
    padding: 1px;
    box-shadow: 10px 0 0 #2A9D8F;
    font-family: 'Raleway', sans-serif;
    border-left: 10px solid #550527;
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: width 0.5s;
    
}


























}
/************************ END OF MEDIA QUERIES************************/